@layout('layouts/app')
@set('title', 'AdonisJS - Profile')

@section('content')
  <section>
    Perfil do usuário <br>
    {{ auth.isLoggedIn }}
    {{ auth.isAuthenticated }} <br>
    {{ auth.user.name }}
    {{ auth.user.email }}
  </section>
@end