@layout('layouts/app')
@set('title', 'AdonisJS - Profile')

@section('content')
  <section>
    Perfil do usuário <br>
    {{ auth.user.name }}
    {{ auth.user.email }}

    <form action="/verify-email" method="post">
      <input type="submit" value="Resend">
    </form>    
  </section>
@end