@layout('layouts/app')
@set('title', 'AdonisJS - Profile')

@section('content')
  <section>
    Perfil do usuário <br>
    {{ auth.user.name }} <br>
    {{ auth.user.email }}

    @if(auth.user.email_verified_at === null)
      <form action="/verify-email" method="post">
        <input type="submit" value="Resend">
      </form>    
    @end

  </section>
@end