@layout('layouts/app')
@set('title', 'AdonisJS')

@section('content')
  <main>
    @if(auth.isAuthenticated)
      <h1>{{ auth.user.name }}</h1>
      <form action="/logout" method="post">
        <button type="submit">Sigh out</button>
      </form>
    @else
      <a href="/login">Login</a>
    @end
  </main>
@end
