@layout('layouts/app') 
@set('title', 'AdonisJS - Edit Profile') 
@section('content')
  <h1>Update your details</h1>
  <form action="" method="post" enctype="multipart/form-data">
    <label for="details">
      <input type="text" name="details">
      <input type="file" name="avatar">
      <input type="submit" Value="Update"
    </label>
  </form>
@end